@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}
:root {
	--radius: 0.625rem;
	--background: #f8f6f2;
	--foreground: #322e28;
	--card: #f3efe7;
	--card-foreground: #322e28;
	--popover: #f3efe7;
	--popover-foreground: #322e28;
	--primary: #645846;
	--primary-foreground: #f8f6f2;
	--secondary: #e6e1d3;
	--secondary-foreground: #322e28;
	--muted: #e6e1d3;
	--muted-foreground: #8b8578;
	--accent: #b6aa97;
	--accent-foreground: #f8f6f2;
	--destructive: #d97a7a;
	--border: #e0ddd6;
	--input: #e0ddd6;
	--ring: #b6aa97;
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: #f3efe7;
	--sidebar-foreground: #322e28;
	--sidebar-primary: #b6aa97;
	--sidebar-primary-foreground: #f8f6f2;
	--sidebar-accent: #e6e1d3;
	--sidebar-accent-foreground: #322e28;
	--sidebar-border: #e0ddd6;
	--sidebar-ring: #b6aa97;
}

.dark {
	--background: #23201b;
	--foreground: #f8f6f2;
	--card: #2c2923;
	--card-foreground: #f8f6f2;
	--popover: #2c2923;
	--popover-foreground: #f8f6f2;
	--primary: #b6aa97;
	--primary-foreground: #23201b;
	--secondary: #322e28;
	--secondary-foreground: #f8f6f2;
	--muted: #322e28;
	--muted-foreground: #b6aa97;
	--accent: #b6aa97;
	--accent-foreground: #23201b;
	--destructive: #d97a7a;
	--border: #39352d;
	--input: #39352d;
	--ring: #b6aa97;
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: #2c2923;
	--sidebar-foreground: #f8f6f2;
	--sidebar-primary: #b6aa97;
	--sidebar-primary-foreground: #23201b;
	--sidebar-accent: #322e28;
	--sidebar-accent-foreground: #f8f6f2;
	--sidebar-border: #39352d;
	--sidebar-ring: #b6aa97;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
